<ul>
  <li>{{ item.name }}</li>
  <li>${{ item.price}}</li>
  <li>MSRP: ${{ item.msrp}}</li>
  <li>Description: {{ item.description}}</li>
  <li>Qty remaining: {{ item.inventoryitem_set.first.qty }}</li>
</ul>

<br>
<br>

<form action="{% url 'carts:add' item.id %}" method="post">
{% csrf_token %}
<!-- Qty: <input type="number" name="qty" /> -->
{{ qty_form }}
<input type="submit" value="Add to cart" />
</form>

<br>
<br>

<ul>
  Q and A:
  {% for question in item.question_set.all %}
    <li>
      <p>{{ question.votes }} votes Date published: {{ question.pub_date }} </p>
      <p>{{ question.question_content }}</p>
      <ul>
      {% for answer in question.answer_set.all %}
        <li>
          <p>{{ answer.votes }} votes Date published: {{ question.pub_date }}  Author: {{ answer.author }} </p>
          <p>{{ answer.answer_content }}</p>
        </li>
        <br>
      {% endfor %}
      </ul>
    </li>
    <br>
  {% endfor %}
</ul>

<br>
<br>

<ul>
  Reviews:
  {% for review in item.review_set.all %}
    <li>
      <p>{{ review.rating }} stars   Date published: {{ review.pub_date }}   Author: {{ review.author }}  {{ review.votes }} votes</p>
      <p>{{ review.review_content }}</p>
    </li>
  {% endfor %}
</ul>
