<p>{% include 'items/view_items.html' %}</p>

<ul>
  Cart:
  {% for cartitem in cart.cartitem_set.all %}
    <li>
      <p><a href="{% url 'items:detail' cartitem.item.id %}">{{ cartitem.item.name }}</a>&nbsp;&nbsp;Qty: {{ cartitem.qty }}&nbsp;&nbsp;${{ cartitem.item.price}}&nbsp;&nbsp;Subtotal: ${{ cartitem.subtotal }}
      &nbsp;&nbsp;
			<form action="{% url 'carts:update_cart' cartitem.id %}" method="post">
        {% csrf_token %}
        {{ cartitem.qty_form }}
        <input type="hidden" name="cartitem_id" value="{{ cartitem.id }}">
      </form>
			<form action="{% url 'carts:cartitem_delete' cartitem.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" />
      </form>
      </p>
    </li>
  {% endfor %}
  Total: ${{ cart.total }}
</ul>
<a href="{% url 'orders:new' %}">Order</a>
  

<br>
<br>
