<!--
<p>{% include 'items/view_items.html' %}</p>
<p>{% include 'carts/view_cart.html' %}</p>
-->

<p>Order:</p>

<ul>
  Customer info
  <li>
    <p>
      {{ order.customer.email }}
    </p>
  </li>
  <li>
    <p>
      Billing address:
      <br>
      {{ order.customer.billing_address }}
    </p>
  </li>
  <li>
    <p>
      Shipping address:
      <br>
      {{ order.customer.shipping_address }}
    </p>
  </li>
</ul>

<br>
<br>

<ul>
  Order info
  {% for orderitem in order.orderitem_set.all %}
    <li>
      <p>
      <a href="{% url 'items:detail' orderitem.item.id %}">{{ orderitem.item.name }}</a>&nbsp;&nbsp;Qty: {{ orderitem.qty }}&nbsp;&nbsp;${{ orderitem.price}}&nbsp;&nbsp;Subtotal: ${{ orderitem.subtotal }}
      </p>
    </li>
  {% endfor %}
  Shipping: ${{ order.shipping }}
  <br>
  Total: ${{ order.total }}
</ul>

<br>
<br>

<ul>
  Order Updates:
  {% for orderupdate in order.orderupdate_set.all %}
    <li>
      <p>
      {{ orderupdate.date }}&nbsp;&nbsp;Status: {{ orderupdate.get_status_display }}
      </p>
    </li>
  {% endfor %}
</ul>
